package errors

import (
	"gothstack/app/views/layouts"
    "gothstack/app/views/components"
)

templ Unauthorized() {
	@layouts.BaseLayout() {
        @components.Navigation()
		<div class="h-screen w-full flex flex-col justify-center align-middle items-center gap-4">
			<div class="text-muted-foreground text-5xl font-bold">Unauthorized access</div>
			<div class="text-lg">This resource does not belong to you</div>
		</div>
	}
}
