package layouts

import "github.com/anthdm/superkit/view"

var (
	title = "Calendar App"
)

templ BaseLayout() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{ title }</title>
			<link rel="icon" type="image/x-icon" href="/public/favicon.ico"/>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="stylesheet" href={ view.Asset("styles.css") }/>
			<script src={ view.Asset("index.js") }></script>
			<!-- Alpine Plugins -->
			<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
			<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
			<!-- HTMX -->
			<script src="https://unpkg.com/htmx.org@1.9.9" defer></script>
			@templ.Raw(`<script>var dID = "324ec5c5-dc78-4dd4-85d4-363573fe7eb8";</script>`)
			<script defer src="https://cdn.jsdelivr.net/gh/NikoJunttila/userAnalytics@main/javascript/centria.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		</head>
		<body hx-boost="true" x-data="{theme: 'light'}" :class="theme">
			{ children... }
		</body>
	</html>
}
